profiles {
  slurm {
  executor='slurm'
  singularity.enabled = true
}
}
  process {
      withName: 'bam_to_fastq1|bam_to_fastq2|sort' {
      container = 'library://elin.axelsson/software/samtools_fastx:v1.3.1_0.0.13.2'
      }
      withName: 'cutadapt' {
      container = 'docker://greetdb/cutadapt:1.9.1'
      }
      withName: 'bowtie2' {
      container = 'docker://dukegcb/bowtie2:2.1.0-2'
      memory = '62 GB'
      }
      withName: 'generateFiles_qf|bwIndBam_index|mergeReplicates|mergeStats|sortBam|bam2bw_index' {
      container = 'library://elin.axelsson/software/samtools_fastx:v1.3.1_0.0.13.2'
      }
      withName: 'generateFiles_dup|subsampleMerged' {
      container = 'docker://biocontainers/picard:v1.141_cv3'
      }
      withName: 'bwIndBam|bam2bw' {
      module =  'deeptools/2.2.4-foss-2018b-python-2.7.15'
      }
      withName: 'callMACS2' {
      module = 'macs2/2.1.0.20150420-foss-2018b-python-2.7.15'
      }
      withName: 'makeMasterPeaks|plotPeaks|makeFileGff|deseq2' {
      container = 'library://elin.axelsson/software/elinr:latest'
      }
      withName: 'count_reads_in_master|count_reads_in_narrow' {
      container = 'docker://genomicpariscentre/htseq:0.6.1p1'
      }
}
