profiles {
  slurm {
  executor='slurm'
  errorStrategy = 'finish'
  singularity.enabled = true
  process {
    withName: 'bam2bw|bowtie2|bwIndBam'{
    memory = '62 GB'
    }
  }
  }
  test_local {
        process.executor = 'local'
        singularity.enabled = true
        singularity.cacheDir = 'simgs/cache'
    }
}
  process {
      withName: 'bam_to_fastq1|bam_to_fastq2|sort' {
      container = 'library://elin.axelsson/software/samtools_fastx:v1.3.1_0.0.13.2'
      }
      withName: 'cutadapt' {
      container = 'docker://greetdb/cutadapt:1.9.1'
      }
      withName: 'bowtie2' {
      container = 'docker://dukegcb/bowtie2:2.1.0-2'
      }
      withName: 'generateFiles_qf|bwIndBam_index|mergeReplicates|mergeStats|sortBam|bam2bw_index' {
      container = 'library://elin.axelsson/software/samtools_fastx:v1.3.1_0.0.13.2'
      }
      withName: 'generateFiles_dup|subsampleMerged' {
      container = 'docker://biocontainers/picard:v1.141_cv3'
      }
      withName: 'bwIndBam|bam2bw' {
      container =  'library://elin.axelsson/software/deeptools:v2.5.4'
      }
      withName: 'callMACS2' {
      container = 'docker pull fooliu/macs2:version-2.2.7.1'
      }
      withName: 'makeMasterPeaks|plotPeaks|makeFileGff|deseq2' {
      container = 'library://elin.axelsson/software/elinr:v0.0.2'
      }
      withName: 'count_reads_in_master|count_reads_in_narrow' {
      container = 'docker://genomicpariscentre/htseq:0.6.1p1'
      }
}
