profiles {
  slurm {
  executor='slurm'
  errorStrategy = 'finish'
  singularity.enabled = true
  process {
    withName: 'bam2bw|bowtie2|bwIndBam'{
    memory = '62 GB'
    }
  }
  }
  test_local {
        process.executor = 'local'
        singularity.enabled = true
        singularity.cacheDir = 'simgs/cache'
    }
}
  process {
      withName: 'bam_to_fastq1|bam_to_fastq2|sort' {
      container = 'library://elin.axelsson/software/samtools_fastx:v1.3.1_0.0.13.2'
      }
      withName: 'cutadapt' {
      container = 'library://elin.axelsson/software/fastqc_cutadapt_galore:v0.11.5_2.10_0.6.5'
      }
      withName: 'bowtie2' {
      container = 'library://default/pipeline/bowtie2:v2.4.1'
      }
      withName: 'generateFiles_qf|bwIndBam_index|mergeReplicates|mergeStats|sortBam|bam2bw_index' {
      container = 'library://elin.axelsson/software/samtools_fastx:v1.3.1_0.0.13.2'
      }
      withName: 'generateFiles_dup|subsampleMerged' {
      container = 'docker://broadinstitute/picard:2.22.8'
      }
      withName: 'bwIndBam|bam2bw' {
      container =  'library://elin.axelsson/software/deeptools:v2.5.4'
      }
      withName: 'callMACS2' {
      container = 'docker://fooliu/macs2:version-2.2.7.1'
      }
      withName: 'makeMasterPeaks|plotPeaks|makeFileGff|deseq2' {
      container = 'library://elin.axelsson/software/r_atac_seq_base:v3.6.1'
      }
      withName: 'count_reads_in_master|count_reads_in_narrow' {
      container = 'docker://genomicpariscentre/htseq:0.11.0'
      }
}
